<div class="container mt-4">

  <div class="modal" id="errorModal" #errorModal tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Error</h3>
            </div>

            <div class="modal-body text-start">
                {{this.error}}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Understand</button>
            </div>
        </div>
      </div>
    </div>  
    <div class="modal" id="successModal" #successModal tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-title">Success</h3>
              </div>
              <div class="modal-body text-start">
                  {{this.success}}
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger orng-btn" data-bs-dismiss="modal"
                      (click)="goToUserIndex()">Understand</button>
              </div>
          </div>
      </div>
  </div>
    <h3 class="mb-3 text-center">Garden Booking Form</h3>
  
    <!-- Progress Indicators -->
    <div class="d-flex justify-content-center mb-4">
      <div class="step-indicator text-center mx-2" [class.active]="currentStep === 1">
        <div class="circle">1</div>
        <div class="label">Details</div>
      </div>
      <div class="step-indicator text-center mx-2" [class.active]="currentStep === 2">
        <div class="circle">2</div>
        <div class="label">Options</div>
      </div>
      <div class="step-indicator text-center mx-2" [class.active]="currentStep === 3">
        <div class="circle">3</div>
        <div class="label">Canvas</div>
      </div>
    </div>
  
    <form #gardenForm="ngForm">
      <!-- Step 1: Date, Time, Area, and Type -->
      <div *ngIf="currentStep === 1">
        <div class="mb-3">
          <label for="dateTime" class="form-label">Date and Time</label>
          <input type="datetime-local" id="dateTime" class="form-control" [(ngModel)]="appointment.datetimeScheduled" name="dateTime" required [min]="minDateValue()">
        </div>
        
  
        <div class="mb-3">
          <label for="gardenArea" class="form-label">Garden Area (in square meters)</label>
          <input type="number" id="gardenArea" class="form-control" [(ngModel)]="garden.squareMeters" name="gardenArea" required>
        </div>
  
        <div class="mb-3">
          <label for="gardenType" class="form-label">Choose Garden Type</label>
          <select id="gardenType" class="form-select" [(ngModel)]="garden.gardenType" name="gardenType" required>
            <option value="" disabled selected>Select garden type</option>
            <option value="private">Private Garden</option>
            <option value="restaurant">Restaurant Garden</option>
          </select>
        </div>
      </div>
  
      <!-- Step 2: Additional Options and Description -->
      <div *ngIf="currentStep === 2">
        <!-- Additional Options based on Garden Type -->
        <div *ngIf="garden.gardenType === 'private'" class="mb-3">
          <label class="form-label">Private Garden Options</label>
          <div class="mb-3">
            <input type="number" id="pool" class="form-control" [(ngModel)]="garden.areaPoolFountain" name="hasPool">
            <label for="pool" class="form-label">Pool Area</label>
          </div>
          <div class="mb-3">
            <input type="number" id="numPoolFountain" class="form-control" [(ngModel)]="garden.numberPoolFountain" name="numPoolFountain">
            <label for="numPoolFountain" class="form-label">Number of Pools</label>
          </div>
          <div class="mb-3">
            <input type="number" id="greenery" class="form-control" [(ngModel)]="garden.areaGreen" name="hasGreenery">
            <label for="greenery" class="form-label">Greenery Area</label>
          </div>
          <div class="mb-3">
            <input type="number" id="furniture" class="form-control" [(ngModel)]="garden.areaFurniture" name="hasFurniture">
            <label for="furniture" class="form-label">Furniture Area</label>
          </div>
        </div>
        
        <div *ngIf="garden.gardenType === 'restaurant'" class="mb-3">
          <label class="form-label">Restaurant Garden Options</label>
          <div class="mb-3">
            <input type="number" id="fountain" class="form-control" [(ngModel)]="garden.areaPoolFountain" name="hasFountain">
            <label for="fountain" class="form-label">Fountain Area</label>
          </div>
          <div class="mb-3">
            <input type="number" id="numPoolFountain" class="form-control" [(ngModel)]="garden.numberPoolFountain" name="numPoolFountain">
            <label for="numPoolFountain" class="form-label">Number of Fountains</label>
          </div>
          <div class="mb-3">
            <input type="number" id="greeneryRestaurant" class="form-control" [(ngModel)]="garden.areaGreen" name="hasGreenery">
            <label for="greeneryRestaurant" class="form-label">Greenery Area</label>
          </div>
          <div class="mb-3">
            <label for="numTables" class="form-label">Number of Tables</label>
            <input type="number" id="numTables" class="form-control" [(ngModel)]="garden.tableCount" name="numTables">
          </div>
          <div class="mb-3">
            <label for="numChairs" class="form-label">Number of Chairs</label>
            <input type="number" id="numChairs" class="form-control" [(ngModel)]="garden.areaFurniture" name="numChairs">
          </div>
        </div>
      
        <!-- Description -->
        <div class="mb-3">
          <label for="additionalRequirements" class="form-label">Additional Requirements</label>
          <textarea id="additionalRequirements" class="form-control" [(ngModel)]="garden.description" name="additionalRequirements" rows="3"></textarea>
        </div>
      
        <!-- Select from services (mocked for now) -->
        <div class="mb-3">
          <label for="services" class="form-label">Select Services</label>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Select a service
            </button>
            
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li *ngFor="let service of company.services">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="service.selected" [ngModelOptions]="{standalone: true}">
                  <label class="form-check-label">
                    {{ service.name }}
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
  
      <!-- Step 3: Canvas for Drawing -->
      <div *ngIf="currentStep === 3">
        <div class="mb-3">
          <!-- <label for="drawingCanvas" class="form-label">Step 3: Canvas (Optional)</label> -->
          <app-canvas></app-canvas>
        </div>
      </div>
  
      <!-- Navigation Buttons -->
      <div class="d-flex justify-content-between mt-4">
        <button type="button" class="btn btn-secondary" (click)="previousStep()" [disabled]="currentStep == 1">Back</button>
        <button *ngIf="currentStep < 3" type="button" class="btn btn-primary" (click)="nextStep()">Next</button>
        <button *ngIf="currentStep === 3" type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
  <br><br><br>