/* Sticky navbar */
nav.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgb(222, 131, 34);
    color: white;
    flex-grow: 1;
    display: flex; /* Use flex display for the navbar */
    justify-content: space-between; /* Align items to the start */
    align-items: center; /* Align items vertically */
    padding-left: 10px; /* Add padding to the left */
    padding-right: 10px; /* Add padding to the right */
}

.btn{
    color:white;
}

.offcanvas-body .btn {
    background-color: rgb(222, 131, 34); /* Primary color */
    border-color: rgb(222, 131, 34); /* Primary color for border */
    color: #fff; /* White text */
    font-weight: 500; /* Medium font weight */
    border-radius: 0.25rem; /* Slightly rounded corners */
    padding: 10px 15px; /* Padding for a larger clickable area */
    text-align: left; /* Align text and icon to the left */
    width: 100%; /* Make buttons take the full width */
    display: flex; /* Use flexbox for icon and text alignment */
    align-items: center; /* Center align the icon and text vertically */
    transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

.offcanvas-body .btn i {
    margin-right: 10px; /* Space between icon and text */
    font-size: 1.25rem; /* Slightly larger icon size */
}

.offcanvas-body .btn:hover {
    background-color: rgb(222, 131, 34); /* Darker shade on hover */
    color: #e0e0e0; /* Light gray text on hover */
    border-color: rgb(222, 131, 34); /* Darker border color on hover */
}
