.btn{
    background-color: rgb(222, 131, 34);
    border-color: rgb(222, 131, 34);
  }

btn:active {
    background-color: rgb(255, 193, 7); /* Warm gold color */
    border-color: rgb(255, 193, 7);
    color: white; /* Keep text color consistent */
}

.no-appointments {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #888;
}