<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <h5>With Vision - The World is Yours</h5>
          <p>&copy; 2024 Vision - All rights reserved.</p>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/about" class="text-white">About Us</a></li>
            <li><a href="/contact" class="text-white">Contact</a></li>
            <li><a href="/privacy" class="text-white">Privacy Policy</a></li>
            <li><a href="/terms" class="text-white">Terms of Service</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" class="text-white"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  