/* Add more space between the buttons and align them better */
.btn-outline-warning,
.btn-outline-primary {
    min-width: 120px;
    text-align: center;
}

.card-body {
    padding: 15px 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.card-text {
    font-size: 0.9rem;
}

.modal-body textarea {
    resize: none;
}

h3 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.orng-btn{
    background-color: rgb(222, 131, 34);
    border-color: rgb(222, 131, 34);
    color: white;
  }

.orng-btn:active {
    background-color: rgb(255, 193, 7); /* Warm gold color */
    border-color: rgb(255, 193, 7);
    color: white; /* Keep text color consistent */
}